<template>
  <div>
    <b-nav vertical class="w-55">
      <div>
        <template v-if="type == 'admin'">
          <b-button-group vertical>
            <b-button variant="light"
              ><router-link to="/main">หน้าหลัก</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/educate">จักการอบรม</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/declareCoop"
                >จัดการสหกิจ</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/company">สถานประกอบการ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/Document">จัดการเอกสาร</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/">ออกจากระบบ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/mainStudent"
                >หน้าหลักนิสิต</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/mainNologin"
                >หน้าหลักยังไม่ล็อกอิน</router-link
              ></b-button
            >
          </b-button-group>
        </template>
        <template v-if="type == 'student'">
          <b-button-group vertical>
            <b-button variant="light"
              ><router-link to="/main">หน้าหลักอิอิ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/educate">จักการอบรม</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/declareCoop"
                >จัดการสหกิจ</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/company">สถานประกอบการ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/Document">จัดการเอกสาร</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/">ออกจากระบบ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/mainStudent"
                >หน้าหลักนิสิต</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/mainNologin"
                >หน้าหลักยังไม่ล็อกอิน</router-link
              ></b-button
            >
          </b-button-group>
        </template>
      </div>
    </b-nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      type: 'admin'
    }
  }
}
</script>
