<template>
  <dir style="padding:0px">
    <a id="text">จัดการสถานประกอบการ</a>
    <b-button pill variant="success" class="float-right" @click="addNewCompany()"
      >เพิ่มข้อมูล</b-button
    ><br><br>
    <b-table striped :items="companyList" :fields="fields">
      <template v-slot:cell(จัดการ)="data">
        <b-button pill @click="showCompany(data.item)">รายละเอียด</b-button>
        &nbsp;
        <b-button pill @click="editCompany(data.item)" variant="warning"
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button pill @click="delCompany(data.item)" variant="danger">ลบ</b-button>
      </template>
    </b-table>

    <b-modal
      size="lg"
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="เบอร์โทรศัพท์"
          label-for="phone"
          :invalid-feedback="invalidFeedbackPhone"
          :valid-feedback="validFeedbackPhone"
          :state="statePhone"
        >
          <b-form-input id="phone" v-model="form.phone" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="ที่อยู่"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea
            id="address"
            v-model="form.address"
            required
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="ชนิด"
          label-for="type"
          :invalid-feedback="invalidFeedbackType"
          :valid-feedback="validFeedbackType"
          :state="stateType"
        >
          <b-form-select
            id="type"
            v-model="form.type"
            :options="typeOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-modal
      size="lg"
      id="modal-show-company"
      ref="modal-show-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อ" label-for="name">
          <b-form-input id="name" v-model="form.name" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="เบอร์โทรศัพท์" label-for="phone">
          <b-form-input id="phone" v-model="form.phone" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="ที่อยู่" label-for="address">
          <b-form-textarea
            id="address"
            v-model="form.address"
            disabled
          ></b-form-textarea>
        </b-form-group>
        <b-form-group label="ชนิด" label-for="type">
          <b-form-select
            id="type"
            v-model="form.type"
            :options="typeOptions"
            disabled
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </dir>
</template>
<script>
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลใหม่',
      form: {
        id: -1,
        name: '',
        phone: '',
        address: '',
        type: null
      },
      typeOptions: [
        { value: null, text: 'โปรดเลือก' },
        'software house',
        'company'
      ],
      companyList: [
        {
          id: 1,
          name: 'ธนาคารไทยพาณิชย์ (SCB)',
          type: 'company',
          phone: '0277775555',
          email: 'scbprime@scb.co.th',
          address:
            'ธนาคารไทยพาณิชย์ จำกัด (มหาชน) สำนักงานใหญ่ 9 ถ.รัชดาภิเษก เขตจตุจักร กรุงเทพฯ 10900'
        },
        {
          id: 2,
          name: 'บริษัท ไมโครซอฟท์ (ประเทศไทย) จำกัด',
          type: 'software house',
          phone: '0225749999',
          email: 'scbprime@scb.co.th',
          address:
            'ชั้น 37 ยูนิต 1-7 ตึก CRC Tower ออลซีซันส์เพลส 87/2 ถนนวิทยุ แขวงลุมพินี เขตปทุมวัน กรุงเทพฯ 10330 ประเทศไทย'
        },
        {
          id: 3,
          name: 'กูเกิล Google Thailand (@GoogleThailand)',
          type: 'software house',
          phone: '022574999',
          email: 'scbprime@scb.co.th',
          address:
            'ชั้น 37 ยูนิต 1-7 ตึก CRC Tower ออลซีซันส์เพลส 87/2 ถนนวิทยุ แขวงลุมพินี เขตปทุมวัน กรุงเทพฯ 10330 ประเทศไทย'
        },
        {
          id: 4,
          name: 'Apple (Thailand)',
          type: 'company',
          phone: '0225749999',
          email: 'scbprime@scb.co.th',
          address:
            'ชั้น 37 ยูนิต 1-7 ตึก CRC Tower ออลซีซันส์เพลส 87/2 ถนนวิทยุ แขวงลุมพินี เขตปทุมวัน กรุงเทพฯ 10330 ประเทศไทย'
        },
        {
          id: 5,
          name: 'ซัมซุง ประเทศไทย (บ.ไทยซัมซุงอิเลคโทรนิคส์ จก.)',
          type: 'company',
          phone: '0225749999',
          email: 'scbprime@scb.co.th',
          address:
            'ชั้น 37 ยูนิต 1-7 ตึก CRC Tower ออลซีซันส์เพลส 87/2 ถนนวิทยุ แขวงลุมพินี เขตปทุมวัน กรุงเทพฯ 10330 ประเทศไทย'
        }
      ],
      lastId: 6,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อ' },
        /* { key: 'phone', label: 'เบอร์โทรศัพท์' },
        { key: 'address', label: 'ที่อยู่' },
        { key: 'type', label: 'ชนิด' }, */
        'จัดการ'
      ]
    }
  },
  methods: {
    addNewCompany () {
      this.$bvModal.show('modal-form-company')
    },
    showCompany (company) {
      this.title = 'รายละเอียด'
      this.form = { ...company }
      this.$bvModal.show('modal-show-company')
    },
    editCompany (company) {
      this.title = 'แก้ไข'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + company.name + '  หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteCompany(company)
          }
        })
    },

    resetModal () {
      this.form = {
        id: -1,
        name: '',
        phone: '',
        address: '',
        type: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.title === 'รายละเอียด') {
        this.$nextTick(() => {
          this.$bvModal.hide('modal-show-company')
        })
      }
      // check Validate
      if (this.stateName === false || this.stateType === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateCompany(this.form)
      } else {
        this.addCompany(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },

    addCompany (company) {
      company.id = this.lastId++
      this.companyList.push(company)
    },
    updateCompany (company) {
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1, company)
    },
    deleteCompany (company) {
      console.log(company)
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? '' : ''
    },
    statePhone () {
      return this.form.phone.length === 10
    },
    invalidFeedbackPhone () {
      if (this.form.phone.length === 10) {
        return ''
      } else if (this.form.phone.length > 0) {
        return 'เบอร์โทรต้องมีขนาด 10 ตัวอักษร'
      } else {
        return 'กรุณาใส่เบอร์โทร'
      }
    },
    validFeedbackPhone () {
      return this.stateAddress === true ? '' : ''
    },
    stateAddress () {
      return this.form.address.length > 0
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? '' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือก type'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? '' : ''
    }
  }
}
</script>

<style scoped>
#text {
  position: absolute;
  top: 30px;
  color: gray;
}
</style>
