<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewVendor"
      style="margin:10px"
      >เพิ่มประกาศ</b-button
    >

    <b-modal
      id="modal-form-vendor"
      ref="modal-form-vendor"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อบริษัท"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="วันที่"
          label-for="date"
          :invalid-feedback="invalidFeedbackDate"
          :valid-feedback="validFeedbackDate"
          :state="stateDate"
        >
          <b-form-input
            id="date"
            v-model="form.date"
            placeholder="YYYY-MM-DD"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ที่อยู่"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea id="address" v-model="form.address" required>
            {{ form }}
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          label="รายละเอียด"
          label-for="detail"
          :invalid-feedback="invalidFeedbackDetail"
          :valid-feedback="validFeedbackDetail"
          :state="stateDetail"
        >
          <b-form-textarea id="detail" v-model="form.detail" required>
            {{ form }}
          </b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="modalViewDetail" title="รายละเอียดการประกาศ" ok-only size="lg">
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>

    <b-table striped hover :items="vendorList" :fields="fields" caption-top>
      <template v-slot:table-caption>ประกาศรับนิสิตสหกิจศึกษา</template>
      <template v-slot:cell(optional)="vendor">
        <b-button variant="info" @click="viewDetail(vendor.item)" pill
          >รายละเอียด</b-button
        >
        &nbsp;
        <b-button variant="warning" @click="editVendor(vendor.item)" pill
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="delVendor(vendor.item)" pill>ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มประกาศรับนิสิตสหกิจศึกษา',
      form: {
        id: -1,
        name: '',
        date: '',
        time: '',
        address: '',
        detail: ''
      },
      vendorList: [
        {
          id: 1,
          name: 'Samsung API',
          date: '2020-02-05',
          time: '13.00-16.00',
          address: 'บางนา กรุงเทพ 23450',
          detail: 'รายละเอียดต่างๆ1'
        },
        {
          id: 2,
          name: 'Overlide API',
          date: '2020-02-19',
          time: '13.00-16.00',
          address: 'บางกะปิ กรุงเทพ 15690',
          detail: 'รายละเอียดต่างๆ2'
        }
      ],
      lastId: 3,
      fields: ['id', 'name', 'date', 'address', 'optional']
    }
  },
  methods: {
    addNewVendor () {
      this.title = 'เพิ่มการประกาศ'
      this.$bvModal.show('modal-form-vendor')
    },
    viewDetail (vendor) {
      this.form = vendor
      this.$bvModal.show('modalViewDetail')
    },
    editVendor (vendor) {
      this.title = 'แก้ไขการประกาศ'
      this.form = { ...vendor }
      this.$bvModal.show('modal-form-vendor')
    },
    delVendor (vendor) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + vendor.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteVendor(vendor)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        date: '',
        time: '',
        address: '',
        detail: '',
        optional: 'null'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateDate === false ||
        this.stateAddress === false ||
        this.stateDetail === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateVendor(this.form)
      } else {
        this.addVendor(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-vendor')
      })
    },
    addVendor (vendor) {
      vendor.id = this.lastId++
      this.vendorList.push(vendor)
    },
    updateVendor (vendor) {
      const index = this.vendorList.findIndex(item => item.id === vendor.id)
      this.vendorList.splice(index, 1, vendor)
    },
    deleteVendor (vendor) {
      const index = this.vendorList.findIndex(item => item.id === vendor.id)
      this.vendorList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 4
    },
    invalidFeedbackName () {
      if (this.form.name.length > 4) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'โปรดใส่ชื่อบริษัท อย่างน้อย 4 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อบริษัท'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },

    stateDate () {
      return this.form.date.length > 0
    },
    invalidFeedbackDate () {
      if (this.form.date.length >= 10) {
        return ''
      } else if (this.form.date.length > 0) {
        return 'โปรดระบุวันที่ YYYY-MM-DD'
      } else {
        return 'กรุณาระบุวันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    },

    stateAddress () {
      return this.form.address.length >= 20
    },
    invalidFeedbackAddress () {
      if (this.form.address.length >= 20) {
        return ''
      } else if (this.form.address.length < 20) {
        return 'โปรดระบุข้อมูลให้ครบถ้วน'
      } else {
        return 'กรุณาระบุที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },

    stateDetail () {
      return this.form.detail.length >= 20
    },
    invalidFeedbackDetail () {
      if (this.form.detail.length >= 20) {
        return ''
      } else if (this.form.detail.length < 20) {
        return 'โปรดระบุข้อมูลให้ครบถ้วน'
      } else {
        return 'กรุณาระบุรายละเอียด'
      }
    },
    validFeedbackDetail () {
      return this.stateDetail === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
