<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewDocument"
      >เพิ่มเอกสาร</b-button
    >
    <b-modal
      id="modal-form-document"
      ref="modal-form-document"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
      </form>

      <form
        class="imgForm"
        action="/leanform.php"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="upload" />
        <input type="submit" name="save" value="upload" />
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-modal
      id="modal-form-show"
      ref="modal-form-show"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <div></div>
      </form>
    </b-modal>
    <b-table striped hover :items="documentList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="info" @click="showDoc()">ดูรายละเอียด</b-button
        >&nbsp;
        <b-button variant="warning" @click="editDoc(data.item)">แก้ไข</b-button
        >&nbsp;
        <b-button variant="danger" @click="delDoc(data)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มเอกสารใหม่',
      form: {
        id: -1,
        name: ''
      },

      documentList: [
        { id: 1, name: 'ใบสมัครเป็นนิสิตสหกิจศึกษา' },
        { id: 2, name: 'ใบสมัครงานสหกิจศึกษา/ฝึกงาน' },
        { id: 3, name: 'แบบอนุญาตให้นิสิตไปปฏิบัติงานสหกิจศึกษา' }
      ],
      lastId: 4,
      fields: ['id', 'name', 'operation']
    }
  },
  methods: {
    addNewDocument () {
      this.$bvModal.show('modal-form-document')
    },
    editDoc (doc) {
      console.log('Edit')
      this.title = 'แก้ไขเอกสาร'
      this.form = { ...doc }
      this.$bvModal.show('modal-form-document')
    },
    delDoc (doc) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ หรือ ไม่!!!', {
          title: 'กรุณายื่นยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteDoc(doc)
          }
        })
    },
    showDoc (doc) {
      this.$bvModal.show('modal-form-show')
      this.title = 'รายละเอียดเอกสาร'
      this.form = { ...doc }
    },
    resetModal () {
      this.form = {
        id: -1,
        name: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (this.stateName === false) {
        return
      }
      // Do when pass validatetion
      if (this.form.id > 0) {
        this.updateDoc(this.form)
      } else {
        this.addDoc(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-document')
      })
    },
    addDoc (doc) {
      doc.id = this.lastId++
      this.documentList.push(doc)
    },
    updateDoc (doc) {
      const index = this.documentList.findIndex(item => item.id === doc.id)
      this.documentList.splice(index, 1, doc)
    },
    deleteDoc (doc) {
      const index = this.documentList.findIndex(item => item.id === doc.id)
      this.documentList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'เอกสารต้องมีขนดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'โปรดกรองข้อมูล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
