<template>
  <div>
    <a style="position='absolute'; top: 25px; color:gray;">จัดการ การอบรม</a>
    <b-button pill
      variant="success"
      class="float-right"
      @click="addNewUser"
      v-b-modal.modal-form-user
      >เพิ่มข้อมูล</b-button
    ><br /><br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อบริษัท"
          label-for="ชื่อบริษัท"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="ชื่อบริษัท"
            v-model="form.ชื่อบริษัท"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ประเภท:"
          label-for="ประเภท"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="ประเภท"
            v-model="form.ประเภท"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
          <label for="รายละเอียด">รายละเอียด:</label>
          <b-form-textarea
            label="รายละเอียด:"
            label-for="รายละเอียด"
            :invalid-feedback="invalidFeedbackDetail"
            :valid-feedback="validFeedbackDetail"
            :state="stateDetail"
            id="textarea"
            v-model="form.รายละเอียด"
            rows="3"
            max-rows="6"
          ></b-form-textarea>

          <pre class="mt-3 mb-0">{{ text }}</pre>
      </form>
    </b-modal>
    <b-modal
      id="modal-show-user"
      ref="modal-show-user"
      :title="title"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อบริษัท" label-for="ชื่อบริษัท">
          <b-form-input
            id="ชื่อบริษัท"
            v-model="form.ชื่อบริษัท"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="ประเภท:" label-for="ประเภท">
          <b-form-select
            id="ประเภท"
            v-model="form.ประเภท"
            :options="genderOptions"
            disabled
          ></b-form-select>
        </b-form-group>
         <label for="รายละเอียด">รายละเอียด:</label>
          <b-form-textarea
            label="รายละเอียด:"
            label-for="รายละเอียด"
            id="textarea"
            v-model="form.รายละเอียด"
            rows="3"
            max-rows="6"
            disabled
          ></b-form-textarea>

          <pre class="mt-3 mb-0">{{ text }}</pre>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(จัดการ)="data">
        <b-button pill @click="showUser(data.item)">รายละเอียด</b-button>
        &nbsp;
        <b-button pill variant="warning" @click="editUser(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button pill variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import userService from './obromService'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        ลำดับ: -1,
        ชื่อบริษัท: '',
        ประเภท: null,
        รายละเอียด: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'เตรียมความพร้อม', text: 'เตรียมความพร้อม' },
        { value: 'วิชาการ', text: 'วิชาการ' }
      ],
      userList: [],
      fields: ['ลำดับ', 'ชื่อบริษัท', 'ประเภท', 'จัดการ']
    }
  },
  methods: {
    showUser (user) {
      this.title = 'รายละเอียดการอบรม'
      this.form = { ...user }
      this.$bvModal.show('modal-show-user')
    },
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            userService.deleteUser(user)
            this.userList = userService.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        ลำดับ: -1,
        ชื่อบริษัท: '',
        ประเภท: null,
        รายละเอียด: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.title === 'รายละเอียดการอบรม') {
        this.$nextTick(() => {
          this.$bvModal.hide('modal-show-user')
        })
      }
      // Check Validate
      if (this.stateName === false && this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.ลำดับ > 0) {
        // this.updateUser(this.form)
        userService.updateUser(this.form)
        this.userList = userService.getUsers()
      } else {
        // this.addUser(this.form)
        userService.addUser(this.form)
        this.userList = userService.getUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.ลำดับ = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.ลำดับ === user.ลำดับ)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.ลำดับ === user.ลำดับ)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.ชื่อบริษัท.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.ชื่อบริษัท.length > 2) {
        return ''
      } else if (this.form.ชื่อบริษัท.length > 0) {
        return 'ชื่อต้องมีอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.ประเภท != null
    },
    invalidFeedbackGender () {
      if (this.form.ประเภท != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.userList = userService.getUsers()
  }
}
</script>
