<style>
  #headText{
    position: absolute;
    top:16px;
    color: gray;
  }
</style>
<template>
  <div>
    <a id="headText">จัดการรายชื่อนิสิตที่มีสิทธิสอบสัมภาษณ์</a>
    <div>
      <b-dropdown
        pill
        id="dropdown-1"
        text="กรุณาเลือก บริษัท  "
        class="float-right"
        style="margin:5px"
      >
        <b-dropdown-item @click="showTable('ไทยพานิช')"
          >ไทยพานิช</b-dropdown-item
        >
        <b-dropdown-item @click="showTable('Click next')"
          >Click next</b-dropdown-item
        >
        <b-dropdown-item @click="showTable('Goblo')">Goblo</b-dropdown-item>
      </b-dropdown>
      <b-button pill style="margin:5px" class="float-right" variant="primary">ดาวน์โหลด</b-button>
    </div>
    <br /> <br>
    <b-modal
      id="modal-form-vendor"
      ref="modal-form-vendor"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="รหัสนิสิต"
          label-for="รหัสนิสิต"
          :invalid-feedback="invalidFeedbackStudentId"
          :valid-feedback="validFeedbackStudentId"
          :state="stateStudentId"
        >
          <b-form-input
            id="name"
            v-model="form.รหัสนิสิต"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อ_นามสกุล"
          label-for="ชื่อ_นามสกุล"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-textarea
            id="ชื่อ_นามสกุล"
            v-model="form.ชื่อ_นามสกุล"
            required
          >
            {{ form }}
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          label="ตำแหน่ง"
          label-for="ตำแหน่ง"
          :invalid-feedback="invalidFeedbackDetail"
          :valid-feedback="validFeedbackDetail"
          :state="stateDetail"
        >
          <b-form-textarea id="ตำแหน่ง" v-model="form.ตำแหน่ง" required>
            {{ form }}
          </b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <b-table striped hover :items="vendorList" :fields="fields" caption-top>
      <template v-slot:cell(จัดการ)="vendor">
        <b-button pill variant="warning" @click="editVendor(vendor.item)"
          >แก้ไข</b-button
        >
        &nbsp;&nbsp;&nbsp; &nbsp;
        <b-button pill variant="danger" @click="delVendor(vendor.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'แก้ไขรายชื่อ',
      form: {
        id: -1,
        รหัสนิสิต: '',
        ชื่อ_นามสกุล: '',
        ตำแหน่ง: ''
      },
      vendorList: [
        {
          id: 1,
          รหัสนิสิต: '60160150',
          ชื่อ_นามสกุล: 'นายอัสฎาวุธ สังข์ทอง',
          ตำแหน่ง: 'Frontend'
        },
        {
          id: 2,
          รหัสนิสิต: '60160238',
          ชื่อ_นามสกุล: 'นายฉัตตราวุธ ภูระคร',
          ตำแหน่ง: 'Mobile Developer'
        },
        {
          id: 2,
          รหัสนิสิต: '60160160',
          ชื่อ_นามสกุล: 'นายกอไก่ จิกปากโอ่ง',
          ตำแหน่ง: 'Mobile Developer'
        }
      ],
      lastId: 3,
      fields: ['id', 'รหัสนิสิต', 'ชื่อ_นามสกุล', 'ตำแหน่ง', 'จัดการ']
    }
  },
  methods: {
    editVendor (vendor) {
      this.title = 'แก้ไขการประกาศ'
      this.form = { ...vendor }
      this.$bvModal.show('modal-form-vendor')
    },
    delVendor (vendor) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + vendor.รหัสนิสิต + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteVendor(vendor)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        รหัสนิสิต: '',
        ชื่อ_นามสกุล: '',
        ตำแหน่ง: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateDate === false ||
        this.stateAddress === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateVendor(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-vendor')
      })
    },
    updateVendor (vendor) {
      const index = this.vendorList.findIndex(item => item.id === vendor.id)
      this.vendorList.splice(index, 1, vendor)
    },
    deleteVendor (vendor) {
      const index = this.vendorList.findIndex(item => item.id === vendor.id)
      this.vendorList.splice(index, 1)
    }
  },
  computed: {
    stateStudentId () {
      return this.form.รหัสนิสิต.length >= 4
    },
    invalidFeedbackStudentId () {
      if (this.form.รหัสนิสิต.length > 4) {
        return ''
      } else if (this.form.รหัสนิสิต.length > 0) {
        return 'โปรดใส่รหัสนิสิต เป็นตัวเลขเท่านั่น'
      } else {
        return 'กรุณาใส่รหัสนิสิต'
      }
    },
    validFeedbackStudentId () {
      return this.stateStudentId === true ? 'สำเร็จ' : ''
    },

    stateName () {
      return this.form.ชื่อ_นามสกุล.length >= 20
    },
    invalidFeedbackName () {
      if (this.form.ชื่อ_นามสกุล.length >= 20) {
        return ''
      } else if (this.form.ชื่อ_นามสกุล.length < 20) {
        return 'โปรดระบุ ชื่อ-นามสกุล ให้ถูกต้อง'
      } else {
        return 'กรุณาระบุ ชื่อ-นามสกุล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },

    stateDetail () {
      return this.form.ตำแหน่ง.length >= 20
    },
    invalidFeedbackDetail () {
      if (this.form.ตำแหน่ง.length >= 20) {
        return ''
      } else if (this.form.ตำแหน่ง.length < 20) {
        return 'โปรดระบุข้อมูลให้ครบถ้วน'
      } else {
        return 'กรุณาระบุ ข้อมูลที่ถูกต้อง'
      }
    },
    validFeedbackDetail () {
      return this.stateDetail === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
