<style>
#text1 {
  color: red;
  position: absolute;
  left: -60px;
}
#tableMain1 {
  position: absolute;
  left: -60px;
  width: 1350px ;
}
#tableMain2{
  position: absolute;
  left: -60px;
  width: 1350px ;
  top: 350px;
}
</style>
<template>
  <div>
    <br />
    <b-card-group deck id="tableMain1">
      <b-card header-tag="header" footer-tag="footer">
        <template v-slot:header>
          <h6 class="mb-0">ประกาศการอบรม</h6>
        </template>
          <div>
            <b-table striped hover :items="items"></b-table>
          </div>
      </b-card>
    </b-card-group>
    <br />
    <b-card-group deck id="tableMain2">
      <b-card header-tag="header" footer-tag="footer">
        <template v-slot:header>
          <h6 class="mb-0">ประกาศรับสหกิจ</h6>
        </template>
          <b-table striped hover :items="items2"></b-table>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
export default {
  data () {
    return {
      com1: 'บริษัท ไทยพานิช จำกัด',
      com2: 'บริษัท คลิกเน็ก จำกัด',
      n: 'หมดเวลาแล้ว',
      n2: 'เต็มแล้ว',
      type1: 'การอบรม',
      type2: 'การเปิดรับนิสิตสหกิจ',
      items: [
        { ลำดับ: 1, ชื่อบริษัท: 'ไทยพานิช', สถานะ: '34/100', วันปิดรับสมัคร: '19/02/63' },
        { ลำดับ: 2, ชื่อบริษัท: 'คลิกเน็ก', สถานะ: '79/120', วันปิดรับสมัคร: '12/02/63' },
        { ลำดับ: 3, ชื่อบริษัท: 'ซีดีจี', สถานะ: '150/150', วันปิดรับสมัคร: '05/02/63' }
      ],
      items2: [
        { ลำดับ: 1, ชื่อบริษัท: 'จีเอเบิล', สถานะ: '12', วันปิดรับสมัคร: '31/02/63' },
        { ลำดับ: 2, ชื่อบริษัท: 'เมโทรซิสเต็ม', สถานะ: '5', วันปิดรับสมัคร: '23/02/63' }
      ]
    }
  }
}
</script>
