<template>
  <div>
    <br />
    <br /><br />
    <b-dropdown
      right
      text="บริษัท"
      id="company"
      class="float-right"
      :options="companyOptions"
    >
      <b-dropdown-item>บริษัท 1</b-dropdown-item>
      <b-dropdown-item>บริษัท 2</b-dropdown-item>
      <b-dropdown-divider></b-dropdown-divider>
    </b-dropdown>
    <b-button variant="primary" class="float-right">ดาวโหลด</b-button>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >เพิ่มข้อมูล</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="IdName"
          label-for="Idname"
          :invalid-feedback="invalidFeedbackIdName"
          :valid-feedback="validFeedbackIdName"
          :state="stateIdName"
        >
          <b-form-input
            id="Idname"
            v-model="form.Idname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Position:"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOptions"
            requireds
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        Idname: '',
        name: '',
        position: null
      },
      positionOptions: [
        { text: 'Select One', value: null },
        { value: 'BA', text: 'BA' },
        { value: 'Front-end', text: 'Front-end' }
      ],
      companyOptions: [
        { text: 'Select One', value: null },
        { value: '', text: 'บริษัท1' },
        { value: '', text: 'บริษัท2' }
      ],
      userList: [
        { id: 1, Idname: '60160150', name: 'Worawit', position: 'BA' },
        { id: 2, Idname: '60160262', name: 'Proasob', position: 'Front-end' }
      ],
      lastId: 3,
      fields: ['id', 'Idname', 'name', 'position', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        Idname: '',
        name: '',
        position: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateIdName === false
      ) {
        return
      }
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาด 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่ง'
      }
    },
    validFeedbackPosition () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateIdName () {
      return this.form.Idname.length === 8
    },
    invalidFeedbackIdName () {
      if (this.form.Idname.length < 8) {
        return 'ชื่อต้องมีขนาด 8 ตัวอักษร'
      } else if (this.form.Idname.length > 8) {
        return 'ชื่อต้องมีขนาด 8 ตัวอักษร'
      } else {
        return ''
      }
    },
    validFeedbackIdName () {
      return this.stateIdName === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
