<style>
#text1 {
  position: absolute;
  left: -60px;
}
#text2 {
  color: yellow;
  size: 100px;
  position: absolute;
  left: -60px;
}
#text3 {
  color: orange;
  position: absolute;
  left: -60px;
  top: 130px;
}
#text4 {
  position: absolute;
  left: -60px;
  top: 300px;
}
#text5 {
  position: absolute;
  left: -60px;
  top: 220px;
}
</style>
<template>
  <div>
    <br />
    <h5 id="text1" style="color:black;">
      {{ id }} : {{ name }} : {{ faco }} {{ n1 }}<br />
      อ. ที่ปรึกษา: {{ techer }}
    </h5>
    <br /><br />
    <h2 id="text2">
      __________________________________________________________
    </h2>
    <br /><br />
    <h5 id="text3">ยินดีต้อนรับเข้าสู่ระบบ</h5>

    <div>
      <div class="mt-3" id="text5">
        <b-card-group deck class="mb-3">
          <b-card border-variant="light" header="ประกาศ">
            <b-card-text>
              <h6>
                - ผลการคัดเลือก นิสิตเข้าฝึกงาน บริษัท ไทยพานิช จำกัด รอบที่ 1
                <h6 style="color: green;">ผ่าน</h6>
              </h6>
              <h6 id="text6">
                - ประรายชื่อผู้เข้าอบรม บริษัท คลิกเน็ก &nbsp;
                &nbsp;<router-link to="/interviewEligibility"
                  ><b-button pill>รายชื่อ</b-button></router-link
                >
              </h6>
            </b-card-text>
          </b-card>
        </b-card-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      id: '60160150',
      name: 'นายอัสฎาวุธ สังข์ทอง',
      faco: 'คณะวิทยาการสารสนเทศ',
      n1: 'สาขาวิยาการคอมพิวเตอร์',
      techer: 'อาจารย์เบญจภรณ์ จันทรกองกุล'
    }
  }
}
</script>
